footer {
    background: rgb(56, 56, 56);
}

.bar {
    width: 100vw;
    height: 15px;
    background: $firstcolor;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer li img {
    width: 30px;
}

h5 {
    font-size: 20px;
    font-weight: 800;
    color: $firstcolor;
    text-transform: uppercase;
}
