header {
    background-color: $lightColor;
    padding: 20px;
}
ul li {
    list-style: none;
    text-transform: uppercase;
}
a {
    margin: 18px;
}

header img {
    margin-right: 40px;
    max-width: 70px;
}
