header {
    background-color: $lightColor;
    padding: 20px;
}
ul li {
    list-style: none;
    text-transform: uppercase;
}
a {
    margin: 18px;
}

a:hover {
    color: $firstcolor;
}

.active {
    color: $firstcolor;
}
header img {
    margin-right: 40px;
    max-width: 70px;
}
